<div id="adminProfile">
    <div class="container">
        <h1 class="profile">Admin Profile</h1>
        <hr>
        <div class="row profileCard">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <div *ngIf="userData.imagePath=='' || userData.imagePath=='none' ">
                        <img src="assets/default_profile.png" class="avatar rounded-circle img-thumbnail"
                        alt="avatar">
                    </div>
                    <div *ngIf="userData.imagePath!='null'">
                        <img [src]="userData.imagePath" class="avatar rounded-circle img-thumbnail"
                        alt="avatar">
                    
                    </div>
                

                        <input hidden type="file"  #imageUpload (change)="uploadImage($event)">
                        <button class="btn btnAction"(click)="imageUpload.click()">Change Image</button>

                    </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-6 personal-info" >
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form" [formGroup]="editForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-14 form-label" for="firstName">First name:</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" id="firstName" formControlName="firstName" [disabled]="isEditMode">
                                    <div class="form text text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">
                                        <small>First Name is Required</small>
                                    </div>
                                    <div class="form text text-danger" *ngIf="FirstName.errors?.['pattern'] && (FirstName.touched || FirstName.dirty)">
                                        <small>First Name should start with alphabet</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-14 form-label" for="lastName">Last name:</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" id="lastName" formControlName="lastName" [disabled]="isEditMode">
                                    <div class="form text text-danger" *ngIf="LastName.errors?.['required'] && (LastName.touched || LastName.dirty)">
                                        <small>Last Name is Required</small>
                                    </div>
                                    <div class="form text text-danger" *ngIf="LastName.errors?.['pattern'] && (LastName.touched || LastName.dirty)">
                                        <small>Last Name should start with alphabet</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-14 form-label" for="email" >Email</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="email" id="email" formControlName="email" [disabled]="true">
                                    <div class="form text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                                        <small>Email is Required</small>
                                    </div>
                                    <div class="form text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
                                        <small>Email is Invalid</small> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-14 form-label" for="mobile">Mobile No:</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="mobile" formControlName="mobile" [disabled]="isEditMode">
                                    <div class="text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)">
                                        <small>Mobile Number is Required</small> 
                                    </div>
                                    <div class="form text text-danger"  *ngIf="Mobile.errors?.['pattern'] && (Mobile.touched || Mobile.dirty)">
                                        <small>Mobile Number is Invalid</small>
                                    </div>
                                    <div class="form text text-danger" *ngIf="Mobile.errors?.['minlength'] && (Mobile.touched || Mobile.dirty)">
                                        <small>Mobile Number is Short</small>
                                    </div>
                                    <div class="form text text-danger" *ngIf="Mobile.errors?.['maxlength'] && (Mobile.touched || Mobile.dirty)">
                                        <small>Mobile Number is Long</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-1 form-label">Gender:</label>
                                <div class="col-md-4">
                                    <select class="form-select" style="width: 180px;"  aria-label="Default select example" name="gender" formControlName="gender" [disabled]="isEditMode">

                                        <option value="Male">Male</option>

                                        <option  value="Female">Female</option>

                                        <option  value="Others">Others</option>





                                    </select>
                                    </div>
                                    <div class="form text text-danger" *ngIf="Gender.errors?.['required'] && (Gender.touched || Gender.dirty)">
                                        <small>Gender is Required</small>
                                    </div>
                                
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="showPasswordFields" >
                            <div class="form-group">
                                <label class="col-md-14 form-label" for="password">Old Password:</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="password"  id="password" formControlName="password" [(ngModel)]="password" (click)="removeErrorMessage()">
                                    <div class="form text text-danger" *ngIf="Pwd.errors?.['required'] && (Pwd.touched || Pwd.dirty)">
                                        <small>Password is Required</small>
                                    </div>
                                    <div class="form text text-danger" *ngIf="Pwd.errors?.['minlength'] || Pwd.errors?.['maxlength'] && (Pwd.touched || Pwd.dirty)">
                                        <small>Password should be atleast 6 and at the max 15 characters long.</small>
                                    </div>
                                    <div class="form text text-danger" [ngStyle]="{'display':wrongPassword}" >
                                        <small>Old Password is Wrong</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    
                    <div class="row" *ngIf="showPasswordFields">
                        <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-14 form-label" for="newPassword">New Password:</label>
                            <div class="col-md-10">
                            <input class="form-control" type="password" id="newPassword" formControlName="newPassword" [(ngModel)]="newPassword" (click)="removeErrorMessage()">
                            <div class="form text text-danger" *ngIf="NPwd.errors?.['required'] && (NPwd.touched || NPwd.dirty)">
                                <small>Password is Required</small>
                            </div>
                            <div class="form text text-danger" *ngIf="NPwd.errors?.['minlength'] || NPwd.errors?.['maxlength'] && (NPwd.touched || NPwd.dirty)">
                                <small>Password should be atleast 6 and at the max 15 characters long.</small>
                            </div>
                            <div class="form text text-danger" [ngStyle]="{'display':samePassword}" >
                                <small>Old and New Password are Same</small>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-14 form-label" for="confirmPassword">Confirm Password:</label>
                            <div class="col-md-10">
                            <input class="form-control" type="password" id="confirmPassword" formControlName="CPwd" [(ngModel)]="confirmPassword" (click)="removeErrorMessage()">
                            
                            <div class="form text text-danger" [ngStyle]="{'display':repeatPass}" >
                                <small>Password is not Matching</small>
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex gap-3">
                            <button class="btn btnAction" [hidden]="!isEditMode" (click)="editButton()">Edit</button>
                            <button class="btn btn-danger" [hidden]="isEditMode || !showPasswordFields" (click)="cancel()">Cancel</button>
                            <button class="btn btn-success" [disabled]="editForm.invalid" [hidden]="isEditMode " (click)="saveData()">Save Changes</button>
                            
                            <button class="btn btnAction" [hidden]="showPasswordFields" (click)="showChangePasswordFields()">Change Password</button>
                            
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
    <hr>
    <!-- Button to trigger the modal -->
    <h4 class="adminsList text-center mt-4">List of Admins </h4>
    <button class="btn btnAction mt-4" (click)="openAddAdminModal()"><i class="fa-solid fa-square-plus mr-2"></i>Add Admin</button>


    <div class="main mt-4 mb-4">
        <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="firstName" (ngModelChange)="search()" >
        </div>
        <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search By Email" [(ngModel)]="email" (ngModelChange)="search()" >
        </div>
    </div>


    <div class="table-container">
        <table class="table table-striped table-bordered">
            
            <thead>
            <tr>
                <tr>
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Registered At</th>
                    <th>Action</th>
                </tr>

            </thead>
        
            <tbody>
            
            <tr *ngFor="let result of adminsData | paginate:{ itemsPerPage: 5, currentPage: P }; let i=index " >
                <ng-container *ngIf="result.userId != this.userId">
                    <td>{{result.userId}}</td>

                    <td>{{result.firstName}}</td>
                    <td>{{result.lastName}}</td>
                    <td>{{result.email}}</td>
                    <td>{{result.mobile}}</td>
                    <td>{{result.gender}}</td>
                    <td>Admin</td>
                    <td>{{result.registeredAt}}</td>

                    <td><button class="btn btn-danger" (click)="DeleteAdmin(result.userId,result.firstName)">Delete</button></td>
                </ng-container>

            </tr>

        </table>  
        </div>
        <div class="mt-4">
        <pagination-controls  (pageChange)="P = $event"></pagination-controls>
        </div>
</div>
