<div id="addCategory">
  <div class="backButtonDiv mb-4" [hidden]="editCategory || editFlag" >
    <div>
      <button class="btn text-center backButton" routerLink="/adminHome/adminCategories"><span><i class="fa fa-arrow-left"></i></span></button>
    </div>
  </div>
  <mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="currentIndex" [hidden]="editCategory || editFlag" class="mt-4">
      <mat-step [stepControl]="addCategoryForm" [completed]="currentIndex == 1">
          <ng-template matStepLabel>Add Category</ng-template>
          <form [formGroup]="addCategoryForm" >
              <div class="row px-3">
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingName" formControlName="categoryName" placeholder="Enter Category Name">
                      <label for="name">Category Name</label>
                      <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched || Name.dirty)">
                          <small>Category Name is Required</small>
                      </div>
                  </div>
                  <div class="form-floating mb-3">
                      <textarea type="desc" class="form-control" formControlName="categoryDesc" id="floatingDesc" placeholder="Enter Category Description" style="height: 100px;"></textarea>
                      <label for="desc">Category Description</label>
                      <div class="form-text text-danger" *ngIf="Desc.errors?.['required'] && (Desc.touched || Desc.dirty)">
                          <small>Category Description is Required</small>
                      </div>
                  </div>
              </div>
              
          <button type="button" class="btn actionBtn" style="background-color: rgb(58, 58, 169); color: white;" [disabled]="addCategoryForm.invalid" mat-button matStepperNext>Next <i class='fas fa-greater-than ml-1'></i>
          </button>



          </form>
      </mat-step>
      <mat-step  [stepControl]="addExamForm" >
          <ng-template matStepLabel>Add Exam</ng-template>
          <form [formGroup]="addExamForm">
              <div class="row px-3">
                  <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="categoryName" formControlName="categoryName" />
                        <label for="examName">Category Name:</label>
                        
                      </div>
                    </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="examName" formControlName="examName" />
                      <label for="examName">Exam Name:</label>
                      <div class="form-text text-danger" *ngIf="ExamName.errors?.['required'] && (ExamName.touched || ExamName.dirty)">
                        <small>Exam Name is required</small>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <textarea class="form-control" id="examDesc" formControlName="examDesc"></textarea>
                      <label for="examDesc">Exam Description:</label>
                      <div class="form-text text-danger" *ngIf="ExamDesc.errors?.['required'] && (ExamDesc.touched || ExamDesc.dirty)">
                        <small>Exam Description is required</small>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="examDuration" formControlName="examDuration">
                      <label for="examDuration">Exam Duration (mins):</label>
                      
                      <div class="form-text text-danger" *ngIf="ExamDur.errors?.['required'] && (ExamDur.touched || ExamDur.dirty)">
                        <small>Exam Duration is required</small>
                      </div>
                      <div class="form-text text-danger" *ngIf="ExamDur.errors?.['pattern'] && (ExamDur.touched || ExamDur.dirty)">
                          <small>Exam Duration should be an integer greater than 0</small>
                        </div>
                    </div>
                  </div>
                
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="questionMark" formControlName="questionMark" min="0" />
                      <label for="questionMark">Question Mark:</label>
                      <div class="form-text text-danger" *ngIf="QueMark.errors?.['required'] && (QueMark.touched || QueMark.dirty)">
                        <small>Question Mark is required</small>
                      </div>
                      <div class="form-text text-danger" *ngIf="(QueMark.value < 0 ) && (QueMark.touched || QueMark.dirty)">
                          <small>Mark should be a positive number</small>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="examTotalQuestion" formControlName="examTotalQuestion" min="1" />
                      <label for="examTotalQuestion">Total Questions:</label>
                      <div class="form-text text-danger" *ngIf="TotalQue.errors?.['required'] && (TotalQue.touched || TotalQue.dirty)">
                        <small>Total Questions is required</small>
                      </div>
                      <div class="form-text text-danger" *ngIf="TotalQue.errors?.['pattern'] && (TotalQue.touched || TotalQue.dirty)">
                          <small>Total Questions should be greater than 0 and integer</small>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="examPassPercent" formControlName="examPassPercent" min="0" max="100" />
                      <label for="examPassPercent">Pass Percentage:</label>
                      <div class="form-text text-danger" *ngIf="PassPercent.errors?.['required'] && (PassPercent.touched || PassPercent.dirty)">
                        <small>Pass Percentage is required</small>
                      </div>
                      <div class="form-text text-danger" *ngIf="(PassPercent.value < 0 || PassPercent.value > 100) && (PassPercent.touched || PassPercent.dirty)">
                          <small>Pass Percentage should be between 0 and 100</small>
                      </div>
                    </div>
                  </div>
                </div>
                
              <button type="button" class="btn actionBtn mr-2" style="background-color: rgb(58, 58, 169); color: white;" [disabled]="disableFirstStep()"  matStepperPrevious><i class='fas fa-less-than mr-1'></i>
                  Back</button>
              <button type="button" class="btn actionBtn" style="background-color: rgb(58, 58, 169); color: white;"  [disabled]="addExamForm.invalid"  mat-button matStepperNext>Next <i class='fas fa-greater-than ml-1'></i></button>
          </form>
          
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Add Questions</ng-template>
          
          <h3>Question {{ currentQuestionIndex + 1 }}</h3>
              <form [formGroup]="currentQuestionForm " *ngIf="currentQuestionForm ">
                
                  <div class="row px-3">
                      <div class="col-sm-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="questionDesc" formControlName="questionDesc" >
                          <label for="questionDescription">Question Description:</label>
                          <div class="form-text text-danger" *ngIf="QuesDesc.errors?.['required'] && (QuesDesc.touched || QuesDesc.dirty)">
                            <small>Question Description is required</small>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-sm-12 col-md-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="option1" formControlName="option1" >
                          <label for="option1">Option 1:</label>
                          <div class="form-text text-danger" *ngIf="Option1.errors?.['required'] && (Option1.touched || Option1.dirty)">
                            <small>Option 1 is required</small>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-sm-12 col-md-6">
                        <div class="form-floating mb-3">
                          <input type="text" id="option2" class="form-control" formControlName="option2" >
                          <label for="option2">Option 2:</label>
                          <div class="form-text text-danger" *ngIf="Option2.errors?.['required'] && (Option2.touched || Option2.dirty)">
                            <small>Option 2 is required</small>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-sm-12 col-md-6">
                        <div class="form-floating mb-3">
                          <input type="text" id="option3" class="form-control" formControlName="option3" >
                          <label for="option3">Option 3:</label>
                          <div class="form-text text-danger" *ngIf="Option3.errors?.['required'] && (Option3.touched || Option3.dirty)">
                            <small>Option 3 is required</small>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-sm-12 col-md-6">
                        <div class="form-floating mb-3">
                          <input type="text" id="option4" class="form-control" formControlName="option4" >
                          <label for="option4">Option 4:</label>
                          <div class="form-text text-danger" *ngIf="Option4.errors?.['required'] && (Option4.touched || Option4.dirty)">
                            <small>Option 4 is required</small>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-sm-6 col-md-4">
                        <div class="form-floating mb-3">
                          <select class="form-select form-control" aria-label="Correct Answer" id="answer" formControlName="correctAnswer">
                              <option selected>Select the Correct Answer</option>
                              <option value="1">Option 1</option>
                              <option value="2">Option 2</option>
                              <option value="3">Option 3</option>
                              <option value="4">Option 4</option>
                            </select>
                          <label for="answer">Answer:</label>
                          <div class="form-text text-danger" *ngIf="Answer.errors?.['required'] && (Answer.touched || Answer.dirty)">
                            <small>Please select any Option</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  <button type="button" class="btn actionBtn mr-2" style="background-color: rgb(58, 58, 169); color: white;" [hidden]="currentQuestionIndex > 0"  matStepperPrevious><i class='fas fa-less-than mr-1'></i>
                      Back</button>
                    <div class="d-flex justify-content-center">
                      <button type="button" class="btn actionBtn mr-2" style="background-color: rgb(58, 58, 169); color: white;"  (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</button>
                      <button type="button" class="btn actionBtn mr-2" style="background-color: rgb(58, 58, 169); color: white;"  (click)="goToNextQuestion()" [hidden]="currentQuestionIndex === questions.length - 1" [disabled]="currentQuestionForm.invalid">Next </button>
                  
                      <button type="button" class="btn actionBtn mr-2" style="background-color: rgb(58, 58, 169); color: white;"  (click)="onSubmit()" *ngIf="currentQuestionIndex === questions.length - 1" [disabled]="currentQuestionForm.invalid" matStepperNext>Done  <i class='fas fa-greater-than ml-1'></i></button>
                    </div>
                </form>
                
            
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <form style="height: 250px;">
              <h4>Category Name : {{addCategoryForm.value.categoryName}}</h4>
              <h4>Exam Name : {{addExamForm.value.examName}}</h4>
              <h4 class="mb-3">Number of Questions : {{questions.length}}</h4>
              <button type="button" class="btn actionBtn mr-2" style="background-color: rgb(58, 58, 169); color: white;"  matStepperPrevious><i class='fas fa-less-than mr-1'></i>
                Back</button>
              <button type="submit" class="btn btnAction"  style="background-color: rgb(58, 58, 169); color: white; margin: auto;"  (click)="finalSubmit()">Save Changes</button>
          </form>
        </mat-step>
      
  </mat-horizontal-stepper>
  <div [hidden]="!editCategory">
    <div class="backButtonDiv mb-4" >
      <div>
        <button class="btn text-center backButton" routerLink="/adminHome/adminCategories"><span><i class="fa fa-arrow-left"></i></span></button>
      </div>
    </div>
    <form [formGroup]="addCategoryForm" >
      <div class="row px-3">
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingName" formControlName="categoryName" placeholder="Enter Category Name">
              <label for="name">Category Name</label>
              <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched || Name.dirty)">
                  <small>Category Name is Required</small>
              </div>
          </div>
          <div class="form-floating mb-3">
              <textarea type="desc" class="form-control" formControlName="categoryDesc" id="floatingDesc" placeholder="Enter Category Description" style="height: 100px;"></textarea>
              <label for="desc">Category Description</label>
              <div class="form-text text-danger" *ngIf="Desc.errors?.['required'] && (Desc.touched || Desc.dirty)">
                  <small>Category Description is Required</small>
              </div>
          </div>
      </div>
      
    <button type="button" class="btn actionBtn" style="background-color: rgb(58, 58, 169); color: white;" (click)="saveCategory()">Save 
    </button>



    </form>
  </div>

  <div [hidden]="!editExam">
    <div class="backButtonDiv mb-4" >
      <div>
        <button class="btn text-center backButton" routerLink="/adminHome/adminEditExams"><span><i class="fa fa-arrow-left"></i></span></button>
      </div>
    </div>
    <form [formGroup]="addExamForm">
      <div class="row px-3">
          
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="examName" formControlName="examName" />
              <label for="examName">Exam Name:</label>
              <div class="form-text text-danger" *ngIf="ExamName.errors?.['required'] && (ExamName.touched || ExamName.dirty)">
                <small>Exam Name is required</small>
              </div>
            </div>
          </div>
        
          <div class="col-12">
            <div class="form-floating mb-3">
              <textarea class="form-control" id="examDesc" formControlName="examDesc"></textarea>
              <label for="examDesc">Exam Description:</label>
              <div class="form-text text-danger" *ngIf="ExamDesc.errors?.['required'] && (ExamDesc.touched || ExamDesc.dirty)">
                <small>Exam Description is required</small>
              </div>
            </div>
          </div>
        
          <div class="col-6">
            <div class="form-floating mb-3">
              <input class="form-control" id="examDuration" formControlName="examDuration">
              <label for="examDuration">Exam Duration (mins):</label>
              
              <div class="form-text text-danger" *ngIf="ExamDur.errors?.['required'] && (ExamDur.touched || ExamDur.dirty)">
                <small>Exam Duration is required</small>
              </div>
              <div class="form-text text-danger" *ngIf="ExamDur.errors?.['pattern'] && (ExamDur.touched || ExamDur.dirty)">
                  <small>Exam Duration should be an integer greater than 0</small>
                </div>
            </div>
          </div>
        
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="questionMark" formControlName="questionMark" min="0" />
              <label for="questionMark">Question Mark:</label>
              <div class="form-text text-danger" *ngIf="QueMark.errors?.['required'] && (QueMark.touched || QueMark.dirty)">
                <small>Question Mark is required</small>
              </div>
              <div class="form-text text-danger" *ngIf="(QueMark.value < 0 ) && (QueMark.touched || QueMark.dirty)">
                  <small>Mark should be a positive number</small>
              </div>
            </div>
          </div>
        
          
        
          <div class="col-6">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="examPassPercent" formControlName="examPassPercent" min="0" max="100" />
              <label for="examPassPercent">Pass Percentage:</label>
              <div class="form-text text-danger" *ngIf="PassPercent.errors?.['required'] && (PassPercent.touched || PassPercent.dirty)">
                <small>Pass Percentage is required</small>
              </div>
              <div class="form-text text-danger" *ngIf="(PassPercent.value < 0 || PassPercent.value > 100) && (PassPercent.touched || PassPercent.dirty)">
                  <small>Pass Percentage should be between 0 and 100</small>
              </div>
            </div>
          </div>
        </div>
        
        <button type="button" class="btn actionBtn" style="background-color: rgb(58, 58, 169); color: white;" (click)="saveExam()">Save 
        </button>
  </form>

  </div>

  <div [hidden]="!addQuestionFlag">
    <div class="backButtonDiv mb-4" >
      <div>
        <button class="btn text-center backButton" routerLink="/adminHome/adminEditExams"><span><i class="fa fa-arrow-left"></i></span></button>
      </div>
    </div>
    <form [formGroup]="currentQuestionForm" *ngIf="currentQuestionForm">
                
      <div class="row px-3">
          <div class="col-sm-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="questionDesc" formControlName="questionDesc" >
              <label for="questionDescription">Question Description:</label>
              <div class="form-text text-danger" *ngIf="QuesDesc.errors?.['required'] && (QuesDesc.touched || QuesDesc.dirty)">
                <small>Question Description is required</small>
              </div>
            </div>
          </div>
        
          <div class="col-sm-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="option1" formControlName="option1" >
              <label for="option1">Option 1:</label>
              <div class="form-text text-danger" *ngIf="Option1.errors?.['required'] && (Option1.touched || Option1.dirty)">
                <small>Option 1 is required</small>
              </div>
            </div>
          </div>
        
          <div class="col-sm-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" id="option2" class="form-control" formControlName="option2" >
              <label for="option2">Option 2:</label>
              <div class="form-text text-danger" *ngIf="Option2.errors?.['required'] && (Option2.touched || Option2.dirty)">
                <small>Option 2 is required</small>
              </div>
            </div>
          </div>
        
          <div class="col-sm-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" id="option3" class="form-control" formControlName="option3" >
              <label for="option3">Option 3:</label>
              <div class="form-text text-danger" *ngIf="Option3.errors?.['required'] && (Option3.touched || Option3.dirty)">
                <small>Option 3 is required</small>
              </div>
            </div>
          </div>
        
          <div class="col-sm-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" id="option4" class="form-control" formControlName="option4" >
              <label for="option4">Option 4:</label>
              <div class="form-text text-danger" *ngIf="Option4.errors?.['required'] && (Option4.touched || Option4.dirty)">
                <small>Option 4 is required</small>
              </div>
            </div>
          </div>
        
          <div class="col-sm-6 col-md-4">
            <div class="form-floating mb-3">
              <select class="form-select form-control" aria-label="Correct Answer" id="answer" formControlName="correctAnswer">
                  <option selected>Select the Correct Answer</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
              <label for="answer">Answer:</label>
              <div class="form-text text-danger" *ngIf="Answer.errors?.['required'] && (Answer.touched || Answer.dirty)">
                <small>Please select any Option</small>
              </div>
            </div>
          </div>
        </div>
        
        <button type="button" class="btn actionBtn" style="background-color: rgb(58, 58, 169); color: white;" (click)="saveQuestion()">Save 
        </button>
    </form>
  </div>
</div>