thead th{
  background-color: #3C1975;
  color: white;
}
thead tr th{
    font-size: 14px;
    text-align: center;
 
}
.table-container {
  width: 100%;
  overflow-x: auto;
}

tbody tr td{
    font-size: 12px;    
    text-align: center;
}
table{
 margin: auto;
 width: 100%;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
      
      /* margin-left: 150px; */
  }
  .form-group has-search{
    margin-right: 120px;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
.heading{
  font-family: 'Montserrat', sans-serif;

}
#studentsTable{
  padding: 2rem;
}